@media only screen and (min-width: 500px) {
    :root {
        --firstColor: #006D77;
        --secondColor: #83C5BE;
        --thirdColor: #EDF6F9;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Averia Serif Libre', cursive;
    }
    p, a {
        font-family: 'Quicksand', sans-serif;
    }
    header {
        background-color: var(--firstColor);
        text-align: center;
    }
    header nav {
        background-color: var(--firstColor);
    }
    header img {
        width: auto;
    }
    header h1 {
        margin: 0;
        font-size: 200%;
    }
    a {
        text-decoration: none;
    }
    nav a:hover {
        color: var(--secondColor);
        background-color: #EDF6F9;
    }
    nav ul li {
        padding: 2% 5%;
        display: block;
    }
    nav ul {
        flex-direction: row;
        width: 100%;
    }
    nav a {
        color: var(--thirdColor);
        display: block;
    }
    main {
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }
    footer {
        flex-direction: row;
        padding: 2rem 1rem;
    }
    footer p {
        margin: 0 2rem;
    }
}