/*Fonts: Averia Serif Libre(cursive) and Quicksand(sans-serif)*/
:root {
    --firstColor: #2EC4B6;
    --secondColor: #CBF3F0;
    --thirdColor: #FFFFFF;
    --fourthColor: rgb(238, 238, 238);;
    --fifthColor: #FF9F1C;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Averia Serif Libre', cursive;
}
body {
    position: relative;
}
.meeting {
    position: absolute;
    top: -85px;
    text-align: center;
    background-color: var(--firstColor);
    font-size: 0.9rem;
    font-family: 'quicksand', sans-serif;
    padding: 0.5rem 2rem;
    position: relative;
    transition: top 3s;
}
.meeting button {
    font-size: 1.3rem;
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bold;
    background: transparent;
    color: black;
    padding: 0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 0;
    padding-bottom: 2rem;
}
header .presentation {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 100%;
}
.presentation > * {
    justify-content: center;
}
header nav.small_screen {
    display: block;
    width: 100%;
    background-color: var(--secondColor);
}
.menu {
    text-align: center;
}
/*Interactive hamburger menu styling*/
.menu button {
    border: none;
    font-size: 2rem;
    background: transparent;
    color: black;
    padding: 0;
    font-family: sans-serif;
}
.menu button span:nth-child(1) {display: block;}
.menu button span:nth-child(2) {display: none;}
.menu button.open span:nth-child(1) {display: none;}
.menu button.open span:nth-child(2) {display: block;}
header nav ul {
    display: none;
}
header nav ul.open {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

}
/*-------------------------------------------------*/
#navigation li {
    display: block;
}
#navigation li a {
    text-align: center;
    font-family: "quicksand", sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1rem 0;
    padding-left: 1rem;
}
#navigation li a:hover {
    background-color: var(--firstColor);
    color: white;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 80%;
    flex: 1 1 auto;
}
.logo h1 {
    font-size: 1rem;
    flex: 1 1 auto;
}
.social {
    display: flex;
    align-items: center;
    text-align: center;
}
.social a {
    flex: 1 1 auto;
}
.social img {
    width: 2em;
}
.date {
    color:#000000;
    font-size: 1rem;
    font-weight: bolder;
    display: block;
    text-align: center;
    font-family: "quicksand", sans-serif ;
}

/*-------------------------------- main section --------------------------------------------------*/

button {
    background-color: var(--secondColor);
    color: black;
    padding: 1rem;
    font-family: 'quicksand', sans-serif;
    border: none;
    font-weight: bold;
    font-family: 'quicksand', sans-serif;
    font-size: 2rem;
}
.content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.content a {
    color: #000000;
    margin: 3rem 0;
    font-family: 'quicksand', sans-serif;
}

.content .join {
    display: none;
    padding: 1rem;
}
.content .hero {
    padding: 0;
    position: relative;
}
.content #hero_title {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    border: none;
}
.content .hero h2 {
    position: absolute;
    margin: 2rem;
    color: white;
    font-size: 3rem;
}
.content .hero #hero_large_view {
    display: none;
}
.content .hero img {
    width: 100%;
    height: 100%;
}
.content .hero button {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    font-size: 1.3rem;
}
.content .event {
    background: linear-gradient(45deg, blueviolet, crimson);
    color: white;
    border: 1px black ;
    font-family: 'quicksand', sans-serif;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
}
.content .weather {
    font-family: 'quicksand', sans-serif;
    text-align: center;
    padding: 1rem;
    background: none;
}
.content .event h2 {
    font-family: 'quicksand', sans-serif;
}
.content .weather img {
    width: 10rem;
}
.content .weather div {
    border: none;
    align-items: center;
    justify-content: center;
}
.weather .time {
    display: flex;
    flex: 1 1 auto;
}
.content .weather .wind {
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.content .weather .wind div {
    display: flex;
    flex: 1 1 auto;
    gap: 2rem;
    padding: 0;
    font-size: 1rem;
}
.content .news {
    text-align: center;
    font-family: 'quicksand', sans-serif;
    font-family: 'quicksand', sans-serif;
    padding: 1rem;
}
.content .join {
    text-align: center;
    font-family: 'quicksand', sans-serif;
    padding: 1rem;
}
.spotlights {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    font-family: 'quicksand', sans-serif;
    margin-bottom: 2rem;
}
.spotlights div { 
    background-color: var(--fourthColor);
    flex: 1 1 auto;
    padding: 1rem;
}
.spotlights img {
    width: 10rem;
}

.spotlights .third {display: none;}

footer {
    width: 100%;
    padding-bottom: 1rem;
    background-color: var(--firstColor);
    text-align: center;
    color: black;
}
footer p {
    font-family: 'Quicksand', sans-serif;
}
header nav.large_screen {
    display: none;
}
/*------------------------------------------------*/
#footer_logo h3 {
    margin: 0;
}
footer div:nth-child(2) {
    margin: 3rem 0;
}
#footer_logo img {
    max-width: 30%;
}
/*------------DISCOVER PAGE-----------*/
.comas_info {
    min-height: fit-content;
    top: 0;
    padding: 1rem;
    background-color: rgb(238, 238, 238);
}
#daysOffMsg {
    color: #2EC4B6;
    font-size: 1.5rem;
    font-weight: bold;
}
/*------------JOIN PAGE-----------*/
form {
    border: 3px solid var(--firstColor);
    border-radius: 10px;
    background-color: var(--fourthColor);
    padding: 1rem;
    margin: 0 1rem 1rem;
    font-family: 'quicksand', sans-serif;
    grid-row: 1/2;
}
form h2 {
    font-family: 'quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
form fieldset {
    padding: 1rem;
    background: white;
}
form label.top input,
form label.top textarea,
form label.side {
    display: block;
}
form label.top input,
form label.top textarea,
fieldset {
    border: 1px solid rgb(45, 45, 45);
    border-radius: 5px;
}
form label.top input {
    height: 44px;
    width: 90%;
    max-width: 30rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
form label.top textarea {
    width: 90%;
    max-width: 30rem;   
}
form label,
form fieldset {
    position: relative;
    display: block;
    margin-bottom: 1.3rem;
    margin-left: auto;
    margin-right: auto;
}
main div.content div.membershipInf {
    grid-column: 2/4;
    border-radius: 20px;
    width: 85%;
    max-width: 25rem;
    height: fit-content;
    padding: 1rem;
    margin: 0 auto;
    box-shadow: 0px 0px 8px grey;
}
div.membershipInf h2 {
    margin-bottom: -.75rem;
}
div.membershipInf ul {
    font-family: 'quicksand', sans-serif;
    margin-bottom: 1.3rem;
}
form input.submitBtn {
    font-size: 1.3rem;
    border: none;
    border-radius: 30px;
    background-color: #71d1c7;
    padding: .75rem;
    margin: 0 auto 1rem auto;
    box-shadow: 3px 3px grey;
}
main div.thankyouNote {
    grid-column: 1/-1;
    padding: 0 1rem 1rem;
    margin: 1rem 1rem 3rem 1rem;
}
main div.thankyouNote h1 {
    font-size: 1.3rem;
}
main div.thankyouNote p {
    font-size: 1rem;
    font-family: 'quicksand', sans-serif;
}